@{
    ViewBag.Title = "Contact information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    iTechArt<br />
    st. Tolstogo 10 Minsk<br />
    <abbr title="Phone">P:</abbr>
    +375(44) 588-08-24
</address>