@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead"> Go to Work Time Logger</p>
    <p><a href="/WTL/Index" class="btn btn-primary btn-lg">WTL&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>About Work Time Logger</p>
        <p><a class="btn btn-default" href="/Home/About">GO&raquo;</a></p>
    </div>
</div>